In [64]:
import pandas as pd
import numpy as np

exam_data = {'name' : ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score' : [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attemps' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify' : ['oui', 'non', 'oui', 'non', 'non', 'oui', 'oui', 'non', 'non', 'oui']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h','i', 'j']

my_dataFrame=pd.DataFrame(exam_data, index=labels)
print(my_dataFrame)

        name  score  attemps qualify
a  Anastasia   12.5        1     oui
b       Dima    9.0        3     non
c  Katherine   16.5        2     oui
d      James    NaN        3     non
e      Emily    9.0        2     non
f    Michael   20.0        3     oui
g    Matthew   14.5        1     oui
h      Laura    NaN        1     non
i      Kevin    8.0        2     non
j      Jonas   19.0        1     oui

1/ Print the three first rows using the head() method.

In [65]:
import pandas as pd
import numpy as np

exam_data = {'name' : ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score' : [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attemps' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify' : ['oui', 'non', 'oui', 'non', 'non', 'oui', 'oui', 'non', 'non', 'oui']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h','i', 'j']

my_dataFrame=pd.DataFrame(exam_data, index=labels)

print(my_dataFrame.head(3))

        name  score  attemps qualify
a  Anastasia   12.5        1     oui
b       Dima    9.0        3     non
c  Katherine   16.5        2     oui

2/ Delete rows with Nan values.

In [86]:
import pandas as pd
import numpy as np

exam_data = {'name' : ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score' : [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attemps' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify' : ['oui', 'non', 'oui', 'non', 'non', 'oui', 'oui', 'non', 'non', 'oui']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h','i', 'j']

my_dataFrame=pd.DataFrame(exam_data, index=labels)

#replace nan values with 0
my_dataFrame['score'] = my_dataFrame['score'].replace(np.nan, 0)

my_dataFrame.drop(my_dataFrame.loc[my_dataFrame["score"] == 0].index, inplace=True)


print(my_dataFrame)

        name  score  attemps qualify
a  Anastasia   12.5        1     oui
b       Dima    9.0        3     non
c  Katherine   16.5        2     oui
e      Emily    9.0        2     non
f    Michael   20.0        3     oui
g    Matthew   14.5        1     oui
i      Kevin    8.0        2     non
j      Jonas   19.0        1     oui

3/ Extract the 'name' and 'score' columns from the DataFrame.

In [89]:
import pandas as pd
import numpy as np

exam_data = {'name' : ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score' : [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attemps' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify' : ['oui', 'non', 'oui', 'non', 'non', 'oui', 'oui', 'non', 'non', 'oui']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h','i', 'j']

my_dataFrame=pd.DataFrame(exam_data, index=labels)

my_dataFrame['score'] = my_dataFrame['score'].replace(np.nan, 0)

my_dataFrame.drop(my_dataFrame.loc[my_dataFrame["score"] == 0].index, inplace=True)

#extract the relevant columns by selecting the indexes
my_dataFrame= my_dataFrame.iloc[:, 0:2]

print(my_dataFrame)

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
i      Kevin    8.0
j      Jonas   19.0

4/ a Pandas program to append a new row 'k' to the DataFrame with these values (name: "Suresh", score: 15.5, attempts: 1, qualify: "yes").

In [90]:
import pandas as pd
import numpy as np

exam_data = {'name' : ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score' : [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attemps' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify' : ['oui', 'non', 'oui', 'non', 'non', 'oui', 'oui', 'non', 'non', 'oui']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h','i', 'j']

my_dataFrame=pd.DataFrame(exam_data, index=labels)

my_dataFrame['score'] = my_dataFrame['score'].replace(np.nan, 0)

my_dataFrame.drop(my_dataFrame.loc[my_dataFrame["score"] == 0].index, inplace=True)

dic2 = {'label' : ['k'],'name' : ['Suresh'],
    'score' : [15.5],
    'attemps' : [1],
    'qualify' : 'oui'}

df2 = pd.DataFrame(dic2)

df2 = df2.set_index('label')

new_data = pd.concat([my_dataFrame,df2])
print(new_data)

        name  score  attemps qualify
a  Anastasia   12.5        1     oui
b       Dima    9.0        3     non
c  Katherine   16.5        2     oui
e      Emily    9.0        2     non
f    Michael   20.0        3     oui
g    Matthew   14.5        1     oui
i      Kevin    8.0        2     non
j      Jonas   19.0        1     oui
k     Suresh   15.5        1     oui

5/ a Pandas program to delete the 'attempts' column from the DataFrame.

In [91]:
import pandas as pd
import numpy as np

exam_data = {'name' : ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score' : [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attemps' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify' : ['oui', 'non', 'oui', 'non', 'non', 'oui', 'oui', 'non', 'non', 'oui']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h','i', 'j']
my_dataFrame=pd.DataFrame(exam_data, index=labels)

my_dataFrame['score'] = my_dataFrame['score'].replace(np.nan, 0)

my_dataFrame.drop(my_dataFrame.loc[my_dataFrame["score"] == 0].index, inplace=True)

dic2 = {'label' : ['k'],'name' : ['Suresh'],
    'score' : [15.5],
    'attemps' : [1],
    'qualify' : 'oui'}

df2 = pd.DataFrame(dic2)

df2 = df2.set_index('label')

new_data = pd.concat([my_dataFrame,df2])

new_data= new_data.drop(['attemps'], axis=1)

print(new_data)

        name  score qualify
a  Anastasia   12.5     oui
b       Dima    9.0     non
c  Katherine   16.5     oui
e      Emily    9.0     non
f    Michael   20.0     oui
g    Matthew   14.5     oui
i      Kevin    8.0     non
j      Jonas   19.0     oui
k     Suresh   15.5     oui

6/ Add a new column "Success": if the score is higher than 10 we will have 1, else we will have 0.

In [92]:
import pandas as pd
import numpy as np

exam_data = {'name' : ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score' : [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attemps' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify' : ['oui', 'non', 'oui', 'non', 'non', 'oui', 'oui', 'non', 'non', 'oui']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h','i', 'j']

my_dataFrame=pd.DataFrame(exam_data, index=labels)

my_dataFrame['score'] = my_dataFrame['score'].replace(np.nan, 0)

my_dataFrame.drop(my_dataFrame.loc[my_dataFrame["score"] == 0].index, inplace=True)

dic2 = {'label' : ['k'],'name' : ['Suresh'],
    'score' : [15.5],
    'attemps' : [1],
    'qualify' : 'oui'}
df2 = pd.DataFrame(dic2)

df2 = df2.set_index('label')

new_data = pd.concat([my_dataFrame,df2])

new_data= new_data.drop(['attemps'], axis=1)

new_data['Success']= np.where(new_data['score']> 10, 1,0)

print(new_data)

        name  score qualify  Success
a  Anastasia   12.5     oui        1
b       Dima    9.0     non        0
c  Katherine   16.5     oui        1
e      Emily    9.0     non        0
f    Michael   20.0     oui        1
g    Matthew   14.5     oui        1
i      Kevin    8.0     non        0
j      Jonas   19.0     oui        1
k     Suresh   15.5     oui        1

7/ export it into a CSV file named "my_data"

In [94]:
import pandas as pd
import numpy as np

exam_data = {'name' : ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score' : [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attemps' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify' : ['oui', 'non', 'oui', 'non', 'non', 'oui', 'oui', 'non', 'non', 'oui']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h','i', 'j']

my_dataFrame=pd.DataFrame(exam_data, index=labels)

my_dataFrame['score'] = my_dataFrame['score'].replace(np.nan, 0)

my_dataFrame.drop(my_dataFrame.loc[my_dataFrame["score"] == 0].index, inplace=True)

dic2 = {'label' : ['k'],'name' : ['Suresh'],
    'score' : [15.5],
    'attemps' : [1],
    'qualify' : 'oui'}
df2 = pd.DataFrame(dic2)
df2 = df2.set_index('label')
new_data = pd.concat([my_dataFrame,df2])
new_data= new_data.drop(['attemps'], axis=1)
new_data['Success']= np.where(new_data['score']> 10, 1,0)

new_data.to_csv('my_data')

new_dataframe = pd.read_csv('my_data')

new_dataframe.head()

print(new_dataframe)

  Unnamed: 0       name  score qualify  Success
0          a  Anastasia   12.5     oui        1
1          b       Dima    9.0     non        0
2          c  Katherine   16.5     oui        1
3          e      Emily    9.0     non        0
4          f    Michael   20.0     oui        1
5          g    Matthew   14.5     oui        1
6          i      Kevin    8.0     non        0
7          j      Jonas   19.0     oui        1
8          k     Suresh   15.5     oui        1

In [63]:
import pandas as pd
df=pd.read_csv("my_data")
print(df)

  Unnamed: 0       name  score qualify  Success
0          a  Anastasia   12.5     oui        1
1          b       Dima    9.0     non        0
2          c  Katherine   16.5     oui        1
3          e      Emily    9.0     non        0
4          f    Michael   20.0     oui        1
5          g    Matthew   14.5     oui        1
6          i      Kevin    8.0     non        0
7          j      Jonas   19.0     oui        1
8          k     Suresh   15.5     oui        1